.page-auth {
  .section-store-auth {
    .row-login {
      min-height: 70vh;
      h2 {
        font-weight: normal;
        font-size: 28px;
        line-height: 42px;
        color: #0c0d36;
      }
      .btn-signup {
        @include button-variant(#f3f3f3, transparent);
        color: #bbbbbb;
      }
      .form-control {
        border-radius: 8px;
        background: #f3f3f3;
      }
    }
  }
}
